{
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier", "react", "react-hooks", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    // Add additional React and React Hooks rules as needed
    "@typescript-eslint/no-inferrable-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }]
    // ... other rules
  }
}
